@import "../../stylesheets/base";

.donate {
  margin-left: 15px;
  margin-right: 15px;
  color: $dark-blue;
  font-family: Furore;
}

.show-on-small {
  visibility: visible;
  height: inherit;
  display: inherit;
  @media #{$mq-small} {
    visibility: hidden;
    display: none;
    height: 0;
  }
}

.hide-on-small {
  visibility: hidden;
  display: none;
  @media #{$mq-small} {
    visibility: visible;
    display: inherit;
  }
}

.contract-on-small {
  @media #{$mq-small-max} {
    width: 0%;
  }
}

.stretch-on-small {
  @media #{$mq-small-max} {
    margin-top: 1em;
    width: 50%;
  }
}